.notification-panel {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 300px;
  background-color: rgba(30, 42, 71, 0); /* Adjusted opacity */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  padding: 10px;
  z-index: 2000;
  max-height: 400px;
  overflow-y: auto;
} 

/* Hide Scrollbar but Enable Scrolling */
.notification-panel::-webkit-scrollbar {
  width: 0;
}

.notification-panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Notification Card Styling */
.notification-card {
  display: flex;
  align-items: center;
  background-color: #1c5288;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.211); /* Set border width, style, and color */
  border-radius: 45px; /* Adjust this value if you want less rounded corners */
  color: #ffffff;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.notification-icon {
  font-size: 24px;
  margin-right: 10px;
}

.notification-content {
  flex-grow: 1;
}

.notification-content h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.notification-content p {
  margin: -0.6px 0;
  font-size: 12px;
  color: #bdc3c7;
}

/* Close icon styles */
.close-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;

}

.close-icon-img {
  width: 20px;
  height: 20px;
}

.notification-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 9px;
  border-radius: 50%;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
 